# Informations de connexion OpenCVE pour l'IT-Tracker
OPENCVE_URL=http://host.docker.internal:8000/opencve
OPENCVE_USER=api_admin
OPENCVE_PASSWORD=426879c079181d0583534ffdf5aebccc
# A renseigner si server_name est configuré de façon stricte dans opencve.cfg
OPENCVE_HOST_HEADER=192.168.0.110
